<?xml version="1.0" encoding="UTF-8" ?>
<log-analysis>

    <analysis-worker>
        <script-exec>${perl.path}</script-exec>
        <log-script>${loganalysis.home}/script/loganalysis.pl</log-script>
        <err-script>${loganalysis.home}/script/erranalysis.pl</err-script>
        <report-path>report</report-path>
        <thread-pool-size>30</thread-pool-size>
    </analysis-worker>

    <profile name="resin1">
        <log-format>%host %other %other %time1 %methodurl %code %cost %bytesd %otherquot %otherquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>us</log-costunit>
    </profile>

    <profile name="resin2">
        <log-format>%host %other %other %time1 %methodurl %code %bytesd %otherquot %otherquot %costquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>s</log-costunit>
    </profile>

    <profile name="resin3">
        <log-format>%host %other %other %time1 %methodurl %code %cost %bytesd %otherquot %otherquot %otherquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>us</log-costunit>
    </profile>

    <profile name="apache1">
        <log-format>%host %other %other %time1 %methodurl %code %cost %bytesd %otherquot %otherquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>us</log-costunit>
    </profile>

    <profile name="nginx1">
        <log-format>%host %other %other %time1 %methodurl %code %bytesd %refererquot %otherquot %otherquot%otherquot %otherquot %otherquot %otherquot %costquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>s</log-costunit>
    </profile>

    <profile name="nginx2">
        <log-format>%host %other %other %time1 %methodurl %code %bytesd %refererquot %otherquot %otherquot%otherquot %otherquot%otherquot %otherquot %otherquot %costquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>s</log-costunit>
    </profile>

    <profile name="nginx3">
        <log-format>%host %other %other %time1 %methodurl %code %bytesd %refererquot %otherquot %otherquot%otherquot %otherquot %otherquot %otherquot %otherquot %costquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>s</log-costunit>
    </profile>

    <profile name="nginx4">
        <log-format>%host %other %other %time1 %methodurl %code %bytesd %refererquot %otherquot %otherquot %otherquot %otherquot %otherquot %otherquot %costquot</log-format>
        <log-separator> </log-separator>
        <log-costunit>s</log-costunit>
    </profile>

    <log-config name="resin1-resinlog" profile="resin1" parent-path="/home/resinlog">
        <!--移动统计系统-->
        <log file="154_213/access.log.${date:yyyyMMdd}" err-file="" memo="移动统计系统_154_213" />

        <!--HR招聘系统前台-->
        <log file="64_128/access.log.${date:yyyyMMdd}" err-file="64_128/stderr-${date:yyyy_MM_dd}.log" memo="HR招聘系统前台_64_128" />

        <!--渠道系统后台-->
        <log file="19_129/access.log.${date:yyyyMMdd}" err-file="19_129/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统后台_19_129" />

        <!--渠道系统前台-->
        <log file="74_104/access.log.${date:yyyyMMdd}" err-file="74_104/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_74_104" />
        <log file="74_198/access.log.${date:yyyyMMdd}" err-file="74_198/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_74_198" />
        <log file="74_199/access.log.${date:yyyyMMdd}" err-file="74_199/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_74_199" />
        <log file="154_54/access.log.${date:yyyyMMdd}" err-file="154_54/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_154_54" />
        <log file="154_55/access.log.${date:yyyyMMdd}" err-file="154_55/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_154_55" />
        <log file="154_56/access.log.${date:yyyyMMdd}" err-file="154_56/stderr-${date:yyyy_MM_dd}.log" memo="渠道系统前台_154_56" />
        <log dir="64_177" file="access.log.${date:yyyyMMdd}" err-file="" memo="渠道系统前台_64_177" />
        <log dir="64_178" file="access.log.${date:yyyyMMdd}" err-file="" memo="渠道系统前台_64_178" />
        <log dir="64_179" file="access.log.${date:yyyyMMdd}" err-file="" memo="渠道系统前台_64_179" />

        <!--畅游新OA系统-->
        <log file="64_130/access.log.${date:yyyyMMdd}" err-file="" memo="畅游新OA系统_64_130" />

        <!--客服后台系统-->
        <log dir="64_126" file="access.log.${date:yyyyMMdd}" err-file-pattern="stderr-${date:yyyy_MM_dd}.log*" memo="客服后台系统_64_126" />
        <log file="19_29/access.log.${date:yyyyMMdd}" err-file="" memo="客服后台系统_19_29" />

        <!--运维资源管理平台-->
        <log dir="17_203" file="access.log.${date:yyyyMMdd}" err-file="stderr-${date:yyyy_MM_dd}.log" memo="运维资源管理平台_17_203" />
    </log-config>

    <log-config name="resin2-resinlog" profile="resin2" parent-path="/home/resinlog">
        <!--HR招聘系统后台-->
        <log file="17_98_ht/access.log.${date:yyyyMMdd}" err-file="" memo="HR招聘系统后台_17_98" />

        <!--HR招聘系统前台-->
        <log file="17_98_qt/access.log.${date:yyyyMMdd}" err-file="" memo="HR招聘系统前台_17_98" />

    </log-config>

    <log-config name="resin2-resinlog_pri" profile="resin2" parent-path="/home/resinlog_pri">

        <!--特权网吧前台-->
        <log-group dir="64_128" file-pattern="access.log.${date:yyyyMMdd}*" err-file="" memo="特权网吧前台_64_128"/>

    </log-config>

    <log-config name="resin3-resinlog" profile="resin3" parent-path="/home/resinlog">
        <!--BUG管理系统-->
        <log-group dir="54_180" file-pattern="access.log.${date:yyyyMMdd}*" err-file="" memo="BUG管理系统_54_180" />

    </log-config>

    <log-config name="resin3-resinlog_spr" profile="resin3" parent-path="/home/resinlog_spr">
        <!--推广系统后台-->
        <log-group dir="64_128" file-pattern="access.log.${date:yyyyMMdd}*" err-file="" memo="推广系统后台_64_128" />
    </log-config>

    <log-config name="apache1-apachelog" profile="apache1" parent-path="/home/apachelog">
        <!--广告监控统计-->
        <log file="64_79/access.log.${date:yyyyMMdd}" err-file="" memo="广告监控统计_64_79" />
    </log-config>
            
    <log-config name="nginx1-config" profile="nginx1" parent-path="/home/nginxlog">

        <!--畅游论坛-->
        <log file="154_51/bbs.access.log.${date:yyyy-MM-dd}" err-file="" memo="畅游论坛_154_51" />
        <log file="55_35/bbs.access.log.${date:yyyyMMdd}" err-file="" memo="畅游论坛_55_35" />
        <log file="64_220/bbs.access.log.${date:yyyy-MM-dd}" err-file="" memo="畅游论坛_64_220" />

        <!--peak-->
        <log file="17_55/${date:yyyyMMdd}.access_log" err-file="" memo="peak_17_55"/>
        <log file="17_75/${date:yyyyMMdd}.access_log" err-file="" memo="peak_17_75" />
        <!-- 64_180没有request_time
        <log file="'64_180/'yyyyMMdd'.access_log'" err-file="" memo="peak_64_180"/>
        -->
    </log-config>

    <log-config name="nginx2-config" profile="nginx2" parent-path="/home/nginxlog">
        <!--protect-->
        <log file="154_113/protect_acc_log_${date:yyyy-MM-dd}" err-file="" memo="protect" />

        <!--member-->
        <log file="154_138/member_acc_log_${date:yyyy-MM-dd}" err-file="" memo="memeber" />

        <!--鹿鼎记论坛-->
        <log file="54_65/access_log.${date:yyyyMMdd}" err-file="" memo="鹿鼎记论坛_54_65" />
        <log file="55_42/access_log.${date:yyyyMMdd}" err-file="" memo="鹿鼎记论坛_55_42" />

        <!--pay-->
        <log file="64_35/pay_access_log_${date:yyyy-MM-dd}" err-file="" memo="pay_64_35" />
        <log file="64_36/pay_access_log_${date:yyyy-MM-dd}" err-file="" memo="pay_64_36" />
        
        <!--auth-->
        <log file="64_36/auth_acc_log_${date:yyyy-MM-dd}" err-file="" memo="auth_64_36" />
    </log-config>

    <log-config name="nginx3-config" profile="nginx3" parent-path="/home/nginxlog">
        <!--account-->
        <log-group dir="17_209" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="account_17_209"/>
        <log-group dir="17_211" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="account_17_211"/>
        <log-group dir="64_45" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="account_64_45"/>
        <log-group dir="64_67" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="account_64_67"/>

        <!--sso-->
        <log-group dir="64_133" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="sso_64_133"/>
        <log-group dir="64_134" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="sso_64_134"/>

        <!--活动系统-->
        <log-group dir="64_175" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="活动系统_64_175" />
        <log-group dir="64_176" file-pattern="host.access.log.${date:yyyyMMdd}*" err-file="" memo="活动系统_64_176" />
    </log-config>

    <log-config name="nginx4-config" profile="nginx4" parent-path="/home/nginxlog">
        <!--注册登陆系统-->
        <log-group dir="64_13" file-pattern="access.log.${date:yyyyMMdd}*" err-file="" memo="注册登陆系统_64_13"/>
        <log-group dir="154_145" file-pattern="access.log.${date:yyyyMMdd}*" err-file="" memo="注册登陆系统_154_145"/>

        <!--wgapi通用对接-->
        <log file="64_13/host.access.log_${date:yyyyMMdd}" err-file="" memo="wgapi通用对接_64_13"/>
        <log file="154_145/host.access.log_${date:yyyyMMdd}" err-file="" memo="wgapi通用对接_154_145"/>

    </log-config>

</log-analysis>
